<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AmuletUSB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <AmuletUSB.Properties.Settings>
            <setting name="udpPort" serializeAs="String">
                <value>33000</value>
            </setting>
            <setting name="delayOn" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="delayOff" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="broadcast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="targetIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </AmuletUSB.Properties.Settings>
    </userSettings>
</configuration>
